{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/parallax.min.js"></script>
{% endblock %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="/static/css/index.css" />
<link type="text/css" rel="stylesheet" href="/static/css/image-overlay.css" />
{% endblock %}

{% block content %}

<div class="row">
  <div class="col hero-section justify-content-center align-items-middle">
    <div class="hero-section" style="background: none;">
      <div class="parallax-window" data-parallax="scroll" data-image-src="/static/img/background.png" style="height: 100%;"
        data-z-index="-1">
      </div>
      <div class="text-overlay">
        <h1>About Me</h1>
      </div>
    </div>
  </div>
</div>
<div class="mask-bg">
  <div class="row hero-under-banner">
    <div class="col">
      <div class="container" style="max-width: 800px;">
        <div class="row align-items-center mobile-pad" style="min-height: 40px;">
          <div class="col-sm-4 text-pad">
            Joshua Kave
          </div>
          <div class="col-sm-4 text-pad">
            jmkav192@gmail.com
          </div>
          <div class="col-sm-4 text-pad">
            Tarzana, CA
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container page-content-container" style="margin-top: 40px;">
    <div class="row">
      <div class="col blurb-section">
        <p>I'm a student passionate about networking and computer science</p>
        <p>with a small interest in 3d art.</p>
        <p>I also try to help my community.</p>
        <p>Here is some stuff I have done.</p>
      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 30px;">
    <div class="row">
      <div class="col section-header">
        Extracurricular Activities
      </div>
    </div>
    
    <div class="row">
      <div class="col">

        <!-- Project 1 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              California Cyber Innovation Challenge
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              2019 and 2020
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>The California Cyber Innovation Challenge is a state competition where school teams come together to compete against eachother in a cybersecurity and forensics competition.</p>
              <p>Here are some aspects of the competition</p>
              <ul>
                <li class="main-li">Puzzles</li>
                <li class="sub-li">Puzzles are presented to each team. If solved, the team will gain valuable information, as well as some points</li>
                <li class="sub-li">An example of a puzzle could be a hexadecimal code as a "condensed password". Next to the code is a drawing of lines connecting words, with black and white dots. In order to find the original password, the team has to realize that the black and white dots correspond to 1's and 0's, convert the hexadecimal to binary, then use the chart to convert the binary into a sentence.</li>
                <li class="main-li">Forensics Analysis and Capture the Flag</li>
                <li class="sub-li">The main part of the compeition is to solve a criminal case. A certain crime has been commited, and it is up to the participants to figure out the culprit. The participants are given suspects' computers, and the participants have to use programs such as Wireshark and Autopsy to uncover suspicious files and activties. Flags are spread across the computer mark progress and award points.</li>
                <li class="sub-li">After gathering evidence and submitting flags, the top teams with the most points move on to presentations. Each team has to present their findinngs and who they believe the criminal is. Judges decide who wins the competition based on the quality of the presentations.</li>
                <li class="main-li">Achievements</li>
                <li class="sub-li">2019: I was a part of team Mendenhall, and we won first place.</li>
                <li class="sub-li">2020: I was a part of team Amalthea, and we won first place.</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Project 2 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              College Classes
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Spring 2020 - Present
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>I decided to take some classes outside of school to learn more about computer science. These classes were not allowed to give me credit on my transcript, so I took them for enrichment purposes.</p>
              <p>Here are some classes that I took at Santa Monica College</p>
              <ul>
                <li class="main-li">CS 3: Intro to Computer Systems</li>
                <li class="main-li">CS 50: C Programming</li>
                <li class="main-li">CS 70: Network Fundamentals and Architecture</li>
                <li class="main-li">CS 85: PHP Programming</li>
                <li class="main-li">CS 87A: Python Programming</li>
              </ul>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 20px;">
    <div class="row">
      <div class="col section-header">
        Projects
      </div>
    </div>
    
    <div class="row">
      <div class="col">

        <!-- Project 1 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Optimist Youth Homes and Family Services Fundraiser
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              August 2020
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>My sister and I both play instruments, cello and viola respectively, and we wanted to help the community. We noticed that the OYHFS was asking for instruments, so we started a drive around our neighborhood. We gathered over 40 instruments for the OYHFS, and we also decided to hold a concert in order to raise money. The COVID pandemic prevented us from performing in person, so we created a livestream on Youtube. We advertised to our friends and family, and in the end, we raised over 2300$ for the OYHFS.</p>
              <a href = "https://www.youtube.com/watch?v=Z2A5tnisOjk&ab_channel=rkave">Click for livestream</a>  
            </div>
          </div>
        </div>

        <!-- Project 2 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Blender
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              2020 - Present
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>I was curious about 3d art, so I decided to learn how to use Blender</p>
              <p>Some of my pictures are below</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 20px;">
    <div class="row">
      <div class="col section-header">
        Awards / Honors / Certifications
      </div>
    </div>
    
    <div class="row">
      <div class="col">

        <!-- Project 1 -->
        <div class="container section-content">

          <div class="row">
            <div class="col section-content-header">
              2020 California Cyber Innovation Competition (CCIC) 1st place: (statewide)
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              Cal Poly University
            </div>
          </div>
          
          <div class="row">
            <div class="col section-content-header">
              2019 California Cyber Innovation Competition (CCIC) 1st place: (statewide)
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              Cal Poly University
            </div>
          </div>
          <div class="row">
            <div class="col section-content-header">
              2019 City of Los Angeles State of California for C Mayor’s Cup 1st place: (city-wide)
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              Cal Poly University
            </div>
          </div>
          <div class="row">
            <div class="col section-content-header">
              2019 State of California Senate Certificate of Recognition (18th Senate District), CCIC 1st place
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              California State Senate
            </div>
          </div>
          <div class="row">
            <div class="col section-content-header">
              California Legislature Assembly Certificate of Recognition, (46th Assembly District) 1st place CCIC 
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              California State Legislature
            </div>
          </div>
          <div class="row">
            <div class="col section-content-header">
              California Legislature Assembly Certificate of Recognition,  1st place CA Mayor’s Cyber Cup
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              California State Legislature
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 100px;">
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/backpack.png">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Hachikuji's Backpack</h3>
            <p class="content-text">This is an item from a show that I watch</p>
          </div>
        </div>
      </div>
      <div class="interest-img-holder">
        <img src="/static/img/interest-1.jpg">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/chess.png">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Chess Art</h3>
            <p class="content-text">Just an environment that I thought would be cool to make.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/cave.png">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">A Cave</h3>
            <p class="content-text">A cave because why not? (Also my last name is Kave lol)</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
{% endblock %}

{% block footer %}
<div class="footer-container">
  <div class="container page-content-container">
    <div class="row">
      <div class="col-sm-6 contact-me-text">
        Contact Me
      </div>
      <div class="col-sm-6 contact-icons">
        <div>
          <img src="/static/img/contact-icons/gmail.png">
          <span class="contact-info">jmkav192@gmail.com</span>
        </div>
        <div>
          <a href="https://github.com/">
            <img src="/static/img/contact-icons/github.png">
            <span class="contact-info">github.com/JoshuaKave</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}